<div class="app">
    <ng-container *ngIf="quizService.showScore; else questionTemp">
        <div class="score-section">
            You scored {{ quizService.currentScore }} out of {{ quizService.questions.length }}
            <button (click)="quizService.reset()">Reset</button>
        </div>
    </ng-container>
</div>

<ng-template #questionTemp>
    <div class="question-section">
        <div class="question-count">
            <span>Question {{ quizService.currentQuestionIndex + 1 }}</span>/{{ quizService.questions.length }}
        </div>
        <div>{{ quizService.questions[quizService.currentQuestionIndex].questionText }}</div>
    </div>
    <div class="answer-section">
        <button 
            *ngFor="let ans of quizService.questions[quizService.currentQuestionIndex].answerOptions" 
            (click)="quizService.handleAnswer(ans.isCorrect)"
        >
            {{ ans.answerText }}
        </button>
    </div>
</ng-template>